/* =======================
      PREMIUM NAVBAR CSS
   ======================= */

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9999;
  background: #ffffff;
  
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}


.nav-logo {
  display: flex;
  align-items: center;
  /* width: 100%; */
  justify-content: space-between; 
}


.nav-logo img {
  width: 85px;
  height: 85px;
  margin-left: 45px;
  border-radius: 50%;
}

.nav-menu {
  display: flex;
  gap: 40px;
  list-style: none;
  align-items: center;
}

.nav-menu li {
  position: relative;
  font-size: 19px;
  font-weight: 600;
  cursor: pointer;
}


.nav-menu hr {
  display: none;
}

.nav-menu li a {
  text-decoration: none;
  color: #222;
  transition: 0.3s ease;
}


.nav-menu li:hover a {
  color: #ff3b6a;
}


.nav-menu li a::after {
  content: "";
  width: 0%;
  height: 3px;
  background: #ff3b6a;
  position: absolute;
  left: 0;
  bottom: -6px;
  border-radius: 3px;
  transition: 0.3s ease;
}

.nav-menu li:hover a::after {
  width: 100%;
}


.nav-login-cart {
  display: flex;
  align-items: center;
  gap: 35px;
}

.nav-login-cart button {
  padding: 10px 28px;
  border-radius: 40px;
  border: none;
  font-size: 16px;
  background: #ff3b6a;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s ease;
}

.nav-login-cart button:hover {
  background: #e1315e;
  transform: scale(1.05);
}

/* CART ICON */
.nav-login-cart img {
  width: 26px;
  cursor: pointer;
  height: 22px;
}

/* CART COUNT BADGE */
.nav-cart-count {
  width: 22px;
  height: 22px;
  background: #ff3b6a;
  color: white;
  font-size: 13px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  top: -20px;
  right: 40px;

  font-weight: bold;
  box-shadow: 0 0 8px rgba(255, 0, 100, 0.4);
}
