.footer {
  width: 100%;
  background: #ffff;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 50px;
   box-shadow: 0 2px 10px rgba(3, 3, 3, 0.08);

}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-logo img {
  width: 50px;
  border-radius: 50%;
}


.footer-logo p {
  font-size: 24px;
  font-weight: 600;
  color: #333;
}

.footer-link {
  display: flex;
  gap: 30px;
  list-style: none;
}

.footer-link li {
  font-size: 18px;
  color: #555;
  cursor: pointer;
  transition: 0.3s;
}

.footer-link li:hover {
  color: #000;
}

.social-link {
  display: flex;
  gap: 15px;
}

.footer-icon-container {
  width: 45px;
  height: 45px;
  background: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: 0.3s;
}

.footer-icon-container:hover {
  transform: scale(1.1);
}

.footer-icon-container img {
  width: 25px;
}

.footer-copyright {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.footer-copyright hr {
  border: none;
  height: 1px;
  background: #ccc;
  width: 80%;
  margin: auto;
  margin-bottom: 10px;
}

.footer-copyright p {
  font-size: 16px;
  color: #666;
}
